
@mixin border-box {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}


// Creating Media Queries  

@mixin create-mq($colbreakpoint) {
  @if($colbreakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $colbreakpoint * 1) {
      @content;
    }
  }
}
// Creating Cols With Query

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint) {
    @for $i from 1 through $grid-cols {
      .col-#{$i} {
        flex-basis: (100 / ($grid-cols / $i ) ) * 1% ;
        padding-left: $grid-gap;
        padding-right: $grid-gap;
      }
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i ) ) * 1% ;
        padding-left: $grid-gap;
        padding-right: $grid-gap;
      }
      .col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i) ) * 1%;
      }
    }
  }
}

// Box Shadow
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 3px, $size: 1px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $size $color;
  -webkit-box-shadow: $x-axis $y-axis $blur $size $color;
    -moz-box-shadow: $x-axis $y-axis $blur $size $color;
}
// Border
@mixin border( $coordinates: 0 0 0 0, $colour: #000000, $style: solid ) {
  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);

  @if not(unitless($top)) {
    border-top: $top $style $colour;
  }
  @if not(unitless($right)) {
    border-right: $right $style $colour;
  }
  @if not(unitless($bottom)) {
    border-bottom: $bottom $style $colour;
  }
  @if not(unitless($left)) {
    border-left: $left $style $colour;
  }

}

// Button Mixings
@mixin btn($bg-color) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border:0;
  padding:$btn-padding-x $btn-padding-y ;
  border-radius: $base-border-radius;
  background-color: $bg-color;
  color: $white;
  font-size: $font-size-sm - .03;
  text-transform: capitalize;
 
  
}
