@each $key, $val in $theme-colors {
    .text-#{$key}{
        color: $val $imp;
    }
    .bg-#{$key}{
        background-color: $val $imp;
    }
    @for $i from 1 through 5{
        .text-#{$key}-light-#{$i}{
            color: mix($white, $val, $i * 10);
        }
        .bg-#{$key}-light-#{$i}{
            background-color: mix($white, $val, $i * 10);
        }
    }
}