// variable initialization
$loop-begin:  0 !default;
$loop-end:   100 !default;
$interval:    2 !default;

// sub-property: abbreviation
$sides:  (top: t, bottom: b, left: l, right: r);
$sidesy: (top, bottom);
$sidesx: (left, right);
$sidesy: (top, bottom);
$sidesall: (top, bottom, left, right);
$properties: (margin: m, padding: p);
// loop
$cursor: $loop-begin;

@while $cursor <= $loop-end {

    @each $side, $name in $sides {
        .p-#{$name}-#{$cursor} {
          padding-#{$side}: #{$cursor}px $imp;
        }
      }

      @each $side, $name in $sides {
        .m-#{$name}-#{$cursor} {
          margin-#{$side}: #{$cursor}px $imp;
        }
      }
    
    @each $prop, $name in $properties{
        
    .#{$name}-y-#{$cursor}{
        @each $side in $sidesy{
            #{$prop}-#{$side}: #{$cursor}px $imp;
          }
    }
    

        .#{$name}-x-#{$cursor}{
            @each $side in $sidesx{
            #{$prop}-#{$side}: #{$cursor}px $imp;
            }
        }
        .#{$name}-#{$cursor}{
          #{$prop}: #{$cursor}px $imp;
        }
    }
    


  $cursor: $cursor + $interval;
}
